version: '3.8'

services:
  mongodb:
    image: mongo:7
    container_name: netflix_mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    command: mongod --replSet rs0 --bind_ip 0.0.0.0
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  mongodb_data:
